.DS_Store
.Trashes
*.vbw
*.csi
*.exp
*.lib
*.lvw
*.dca
*.scc
*.tmp
*.bak
*.csv
*.xls
*.xlsx
*.htm
*.html
*.db
*.txt
*.exe
!/PLANTILLAS/REPORTES/*.htm
!/PLANTILLAS/REPORTES/*.html
*.SCC
conexion*
Conexion*
/Instalador/*
